<%= form_for(@content_item) do |f| %>
  <% if @content_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@content_item.errors.count, "error") %> prohibited this content_item from being saved:</h2>

      <ul>
      <% @content_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :author_id %><br />
    <%= f.number_field :author_id %>
  </div>

  <% ###is this the right way to do this?  seems like there should be a helper method to do this for me? %>
   <div class="field">
      <% categories = Category.all
      @category_array = []
      categories.each {|category| @category_array << [category.name, category.id]} %>

    <%= f.label :category %><br/>
    <%= select_tag(:category_id, options_for_select(@category_array)) %>
  </div>



  <div class="field">>
    <%= f.label :type %><br />
    <%= f.select :type, [ ["Article", "ContentItemArticle"], ["Link", "ContentItemLink"], ["Question", "ContentItemQuestion"] ]%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
