<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @content_item.title %>
</p>

<p>
  <b>Author:</b>
  <%= @content_item.author_id %>
</p>

<p>
  <b>Category:</b>
  <%= @content_item.category.name %>
</p>

<p>
  <b>Likes:</b>
  <%= @content_item.likes.count %>
</p>


<% # LIKE ...### don't know if can skip to submit button, rather than using forms? %>
<%= form_tag("/likes/create", :method => "post") do %>
  <%= hidden_field_tag(:acted_on_id, @content_item.id) %>
  <%= hidden_field_tag(:acted_on_type, @content_item.class.model_name) %>
  <%#NOTE -- STI means above should prob be "@content_item.class"? Would then suppose have to interpret object category on other side (which can be done using "@content_item.class.model_name!" see method in model)...%>
  <%= submit_tag("Like") %>
<% end %>


<%= link_to 'Edit', edit_content_item_path(@content_item) %> |
<%= link_to 'Back', content_items_path %>
